<section id="lesson_sidenav" class="lesson-sidenav">

  <header>
    <button type="button" ng-click="performSidenav()" class="open-close-button">
          &#9776;
    </button>
  </header>

  <section id="lesson_sidenav_body" class="lesson-sidenav-body">
    <div class="course-name">
      <h2>Nome do Curso</h2>
    </div>
    <div>
      <a href="#">Vídeo 1</a>
      <a href="#">Vídeo 2</a>
      <a href="#">Vídeo 3</a>
      <a href="#">Vídeo 4</a>
      <a href="#">Vídeo 5</a>
      <a href="#">Exercício 1</a>
      <a href="#">Exercício 2</a>
      <a href="#">Exercício 3</a>
      <a href="#">Exercício 4</a>
      <a href="#">Exercício 5</a>
      <a href="#">Exercício 6</a>
      <a href="#">Exercício 7</a>
    </div>
  </section>

</section>